**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Exploración y Curación de Datos**

*Edición 2021*

----

# Trabajo práctico entregable - parte 2

Se importara la base de datos procesada del ejercico anterior.

In [60]:
import matplotlib.pyplot as plt
import numpy
import pandas

import seaborn
seaborn.set_context('talk')

In [78]:
# Acá deberían leer el conjunto de datos que ya tienen.
melb_df = pandas.read_csv(
    'https://raw.githubusercontent.com/Francisco-Rua/Data-Science-2022/main/Entregable%202%20-%20Analisis%20Exploratorio%20y%20Curacion%20de%20Datos/merged_sales_df_tp1.csv')
melb_df

,Suburb,Rooms,Type,Price,Postcode,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,zipcode,airbnb_record_count,airbnb_price_mean
0,Abbotsford,2,h,1480000.0,3067.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,3067.0,258.0,130.624031
1,Abbotsford,2,h,1035000.0,3067.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,3067.0,258.0,130.624031
2,Abbotsford,3,h,1465000.0,3067.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,3067.0,258.0,130.624031
3,Abbotsford,3,h,850000.0,3067.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,3067.0,258.0,130.624031
4,Abbotsford,2,h,941000.0,3067.0,181.0,NaN,NaN,Yarra,-37.80410,144.99530,Northern Metropolitan,3067.0,258.0,130.624031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11036,Westmeadows,3,h,582000.0,3049.0,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,3049.0,21.0,92.285714
11037,Wheelers Hill,4,h,1245000.0,3150.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,3150.0,189.0,124.026455
11038,Williamstown,3,h,1031000.0,3016.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,3016.0,74.0,191.094595
11039,Williamstown,3,h,1170000.0,3016.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,3016.0,74.0,191.094595
11040,Yarraville,4,h,1285000.0,3013.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,3013.0,82.0,135.609756

In [79]:
melb_df = melb_df.dropna(subset=["CouncilArea"])

In [80]:
melb_df

,Suburb,Rooms,Type,Price,Postcode,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,zipcode,airbnb_record_count,airbnb_price_mean
0,Abbotsford,2,h,1480000.0,3067.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,3067.0,258.0,130.624031
1,Abbotsford,2,h,1035000.0,3067.0,156.0,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,3067.0,258.0,130.624031
2,Abbotsford,3,h,1465000.0,3067.0,134.0,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,3067.0,258.0,130.624031
3,Abbotsford,3,h,850000.0,3067.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,3067.0,258.0,130.624031
4,Abbotsford,2,h,941000.0,3067.0,181.0,NaN,NaN,Yarra,-37.80410,144.99530,Northern Metropolitan,3067.0,258.0,130.624031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,Williamstown,1,u,385000.0,3016.0,0.0,35.64,1967.0,Hobsons Bay,-37.85588,144.89936,Western Metropolitan,3016.0,74.0,191.094595
9981,Williamstown,3,h,1285000.0,3016.0,296.0,NaN,NaN,Hobsons Bay,-37.86335,144.89487,Western Metropolitan,3016.0,74.0,191.094595
9982,Windsor,2,u,560000.0,3181.0,0.0,61.60,2012.0,Stonnington,-37.85581,144.99025,Southern Metropolitan,3181.0,460.0,148.169565
9983,Wollert,3,h,525300.0,3750.0,400.0,NaN,NaN,Whittlesea,-37.61387,145.03850,Northern Metropolitan,NaN,NaN,NaN
9984,Yarraville,2,h,750000.0,3013.0,269.0,NaN,NaN,Maribyrnong,-37.81649,144.86731,Western Metropolitan,3013.0,82.0,135.609756

## Ejercicio 1: Encoding

1. Seleccionar todas las filas y columnas del conjunto de datos obtenido en la parte 1 del entregable, **excepto** `BuildingArea` y `YearBuilt`, que volveremos a imputar más adelante.

2. Aplicar una codificación One-hot encoding a cada fila, tanto para variables numéricas como categóricas. Si lo consideran necesario, pueden volver a reducir el número de categorías únicas.

Algunas opciones:
  1. Utilizar `OneHotEncoder` junto con el parámetro `categories` para las variables categóricas y luego usar `numpy.hstack` para concatenar el resultado con las variables numéricas. 
  2. `DictVectorizer` con algunos pasos de pre-proceso previo.

Recordar también que el atributo `pandas.DataFrame.values` permite acceder a la matriz de numpy subyacente a un DataFrame.

In [81]:
melb_df.columns

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Postcode', 'Landsize',
       'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude',
       'Regionname', 'zipcode', 'airbnb_record_count', 'airbnb_price_mean'],
      dtype='object')

In [82]:
categorical_cols = ['Type','Suburb','Regionname','CouncilArea']
numerical_cols = ['Rooms','zipcode','Price','Landsize','BuildingArea','YearBuilt','Lattitude', 'Longtitude','airbnb_record_count', 'airbnb_price_mean']

Visualizamos la cantidad de datos unicos que tenemos en las variables categoricas.

In [83]:
melb_df[categorical_cols].nunique()

Type             3
Suburb         306
Regionname       8
CouncilArea     33
dtype: int64

In [84]:
categorical_cols_filtered = ['Type','Regionname','CouncilArea']

Vemos la cantidad de nulos que tenemos en variables categoricas de nuestro dataset:

In [85]:
# Check for nulls
melb_df[categorical_cols].isna().sum()

Type           0
Suburb         0
Regionname     0
CouncilArea    0
dtype: int64

Dividimos nuestro dataset en categoricas y no categoricas para poder realizar en enconding solo en las variables categoricas, posteriormente lo volvemos a unir para imputar los valores faltantes.

In [86]:
melb_df_cat = melb_df[categorical_cols_filtered]
melb_df_no_cat = melb_df[numerical_cols]
melb_df_cat

     Type             Regionname  CouncilArea
0       h  Northern Metropolitan        Yarra
1       h  Northern Metropolitan        Yarra
2       h  Northern Metropolitan        Yarra
3       h  Northern Metropolitan        Yarra
4       h  Northern Metropolitan        Yarra
...   ...                    ...          ...
9980    u   Western Metropolitan  Hobsons Bay
9981    h   Western Metropolitan  Hobsons Bay
9982    u  Southern Metropolitan  Stonnington
9983    h  Northern Metropolitan   Whittlesea
9984    h   Western Metropolitan  Maribyrnong

[9983 rows x 3 columns]

In [68]:
!pip install feature_engine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: feature_engine in /usr/local/lib/python3.7/dist-packages (1.3.0)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.4.1)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.0.2)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (0.13.2)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.21.6)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature_engine) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature_engine) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature_engine) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->feature_engine) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.0->feature_engine) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature_engine) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature_engine) (0.5.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels>=0.11.1->feature_engine) (3.0.9)

In [92]:
from feature_engine.encoding import OneHotEncoder

encoder = OneHotEncoder(variables=['Type','Regionname','CouncilArea'])

melb_df_cat_one_hot = encoder.fit_transform(melb_df_cat)

melb_df_cat_one_hot

,Type_h,Type_u,Type_t,Regionname_Northern Metropolitan,Regionname_Western Metropolitan,Regionname_Southern Metropolitan,Regionname_Eastern Metropolitan,Regionname_South-Eastern Metropolitan,Regionname_Eastern Victoria,Regionname_Northern Victoria,...,CouncilArea_Greater Dandenong,CouncilArea_Nillumbik,CouncilArea_Whittlesea,CouncilArea_Frankston,CouncilArea_Macedon Ranges,CouncilArea_Yarra Ranges,CouncilArea_Wyndham,CouncilArea_Cardinia,CouncilArea_Unavailable,CouncilArea_Moorabool
0,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9981,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9982,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9983,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9984,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
melb_df_cat_one_hot.shape

(9983, 44)

## Ejercicio 2: Imputación por KNN

En el teórico se presentó el método `IterativeImputer` para imputar valores faltantes en variables numéricas. Sin embargo, los ejemplos presentados sólo utilizaban algunas variables numéricas presentes en el conjunto de datos. En este ejercicio, utilizaremos la matriz de datos codificada para imputar datos faltantes de manera más precisa.

1. Agregue a la matriz obtenida en el punto anterior las columnas `YearBuilt` y `BuildingArea`.
2. Aplique una instancia de `IterativeImputer` con un estimador `KNeighborsRegressor` para imputar los valores de las variables. ¿Es necesario estandarizar o escalar los datos previamente?
3. Realice un gráfico mostrando la distribución de cada variable antes de ser imputada, y con ambos métodos de imputación.

In [94]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.neighbors import KNeighborsRegressor
from sklearn.impute import IterativeImputer

melb_data_mice = melb_df_cat_one_hot.copy(deep=True)

mice_imputer = IterativeImputer(random_state=0, estimator=KNeighborsRegressor())
melb_data_mice[['YearBuilt','BuildingArea']] = mice_imputer.fit_transform(melb_data_mice[['YearBuilt', 'BuildingArea']])

KeyError: ignored

Ejemplo de gráfico comparando las distribuciones de datos obtenidas con cada método de imputación.

In [ ]:
mice_year_built = melb_data_mice.YearBuilt.to_frame()
mice_year_built['Imputation'] = 'KNN over YearBuilt and BuildingArea'
melb_year_build = melb_df.YearBuilt.dropna().to_frame()
melb_year_build['Imputation'] = 'Original'
data = pandas.concat([mice_year_built, melb_year_build])
fig = plt.figure(figsize=(8, 5))
g = seaborn.kdeplot(data=data, x='YearBuilt', hue='Imputation')

## Ejercicio 3: Reducción de dimensionalidad.

Utilizando la matriz obtenida en el ejercicio anterior:
1. Aplique `PCA` para obtener $n$ componentes principales de la matriz, donde `n = min(20, X.shape[0])`. ¿Es necesario estandarizar o escalar los datos?
2. Grafique la varianza capturada por los primeros $n$ componentes principales, para cada $n$.
3. En base al gráfico, seleccione las primeras $m$ columnas de la matriz transformada para agregar como nuevas características al conjunto de datos.

## Ejercicio 4: Composición del resultado

Transformar nuevamente el conjunto de datos procesado en un `pandas.DataFrame` y guardarlo en un archivo.

Para eso, será necesario recordar el nombre original de cada columna de la matriz, en el orden correcto. Tener en cuenta:
1. El método `OneHotEncoder.get_feature_names` o el atributo `OneHotEncoder.categories_` permiten obtener una lista con los valores de la categoría que le corresponde a cada índice de la matriz.
2. Ninguno de los métodos aplicados intercambia de lugar las columnas o las filas de la matriz.

In [ ]:
## Small example
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder

## If we process our data with the following steps:
categorical_cols = ['Type', 'Regionname']
numerical_cols = ['Rooms', 'Distance']
new_columns = []

# Step 1: encode categorical columns
encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
X_cat = encoder.fit_transform(melb_df[categorical_cols])
for col, col_values in zip(categorical_cols, encoder.categories_):
  for col_value in col_values:
    new_columns.append('{}={}'.format(col, col_value))
print("Matrix has shape {}, with columns: {}".format(X_cat.shape, new_columns))

# Step 2: Append the numerical columns
X = numpy.hstack([X_cat, melb_df[numerical_cols].values])
new_columns.extend(numerical_cols)
print("Matrix has shape {}, with columns: {}".format(X_cat.shape, new_columns))

# Step 3: Append some new features, like PCA
pca = PCA(n_components=2)
pca_dummy_features = pca.fit_transform(X)
X_pca = numpy.hstack([X, pca_dummy_features])
new_columns.extend(['pca1', 'pca2'])

## Re-build dataframe
processed_melb_df = pandas.DataFrame(data=X_pca, columns=new_columns)
processed_melb_df.head()

## Ejercicio 5: Documentación

En un documento `.pdf` o `.md` realizar un reporte de las operaciones que realizaron para obtener el conjunto de datos final. Se debe incluir:
  1. Criterios de exclusión (o inclusión) de filas
  2. Interpretación de las columnas presentes
  2. Todas las transofrmaciones realizadas

Este documento es de uso técnico exclusivamente, y su objetivo es permitir que otres desarrolladores puedan reproducir los mismos pasos y obtener el mismo resultado. Debe ser detallado pero consiso. Por ejemplo:

```
  ## Criterios de exclusión de ejemplos
  1. Se eliminan ejemplos donde el año de construcción es previo a 1900

  ## Características seleccionadas
  ### Características categóricas
  1. Type: tipo de propiedad. 3 valores posibles
  2. ...
  Todas las características categóricas fueron codificadas con un
  método OneHotEncoding utilizando como máximo sus 30 valores más 
  frecuentes.
  
  ### Características numéricas
  1. Rooms: Cantidad de habitaciones
  2. Distance: Distancia al centro de la ciudad.
  3. airbnb_mean_price: Se agrega el precio promedio diario de 
     publicaciones de la plataforma AirBnB en el mismo código 
     postal. [Link al repositorio con datos externos].

  ### Transformaciones:
  1. Todas las características numéricas fueron estandarizadas.
  2. La columna `Suburb` fue imputada utilizando el método ...
  3. Las columnas `YearBuilt` y ... fueron imputadas utilizando el 
     algoritmo ...
  4. ...

  ### Datos aumentados
  1. Se agregan las 5 primeras columnas obtenidas a través del
     método de PCA, aplicado sobre el conjunto de datos
     totalmente procesado.
```